<footer>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-10 offset-md-1 text-white">
        <u><%= link_to "お問い合わせ", new_contact_path, class: "text-white translatable-text" %></u>
        <p>
          000-0000-0000<br>
          minna-no-nihongo-gakko@example.com
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 text-white text-center">
        <p>Copyroght©︎みんなの日本語学校 All rights reserved.</p>
      </div>
    </div>

  </div>
</footer>