<div class="container">
  <div class="row">

    <% if @schools.present? %>
    <div class="col-md-12 mt-5">
      <h5>検索結果(<%= @schools.count %>件)</h5>
    </div>
    <%= render "admin/schools/index.html.erb", schools: @schools %>

    <% else %>
    <div class="container p-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>条件に合致する日本語学校はありませんでした。他のキーワードで検索してください。</h5>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>