<p><%= @resource.email %>様</p>

<p>パスワードの変更依頼を承りました。以下リンクをクリックす、パスワードの再設定が可能です。</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>このメールにお心当たりのない場合、本メールは無視してください。</p>
<p>上記リンクをクリックしない限り、他の方があなたのアカウントのパスワードを変更することはできませんので、ご安心ください。</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
