<%= form_with model: Comment.new, url: comments_path, method: :post, local: false do |f| %>
  <div class="d-flex mt-4">
    <div class="field">
      <%= f.text_area :comment, class: "mr-3 review-comment-input form-control comment-textarea", placeholder: "ここにコメントを書いてください" %>
      <%= f.hidden_field :review_id, :value => review.id %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: 'btn btn-outline-secondary bg-white' %>
    </div>
  </div>
<% end %>