<div class="container">
  <div class="row">

    <% if @schools.present? %>
    <div class="col-md-12 mt-5">
      <h5>検索結果(<%= @schools.count %>件)</h5>
    </div>
    <%= render "admin/schools/index.html.erb", schools: @schools %>

    <% else %>
      <h3>キーワードに合致する日本語学校はありませんでした。他のキーワードで検索してください。</h3>
    <% end %>

  </div>
</div>