<div class="container">
  <div class="row">

    <div class="col-md-9">
    </div>

    <div class="col-md-3">
      <%= render "public/users/sidebar.html.erb", user: current_user %>
    </div>

  </div>
</div>