<div class="continer light-blue-container p-5 all-min-height">
  <div class="row">
    <div class="col-md-11 offset-md-1 text-center">
     <h5>レビューを管理者へ通報しました。</h5>
     <h5>ご協力ありがとうございました。</h5>
   </div>
  </div>
</div>