@use '~bootstrap/scss/bootstrap';
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Noto Sans JP', sans-serif;
}

// header

header {
  width: 100%;
  border-bottom: 5px solid #3A8CD8;
}

header .container {
  padding: 20px;
}

.registration-btn {
  background-color: #FF914D;
}

.alert-wrapper {
  position: relative;
}

.alert-mark {
  position: absolute;
  right: 12px;
  top: 2px;
}

.select-box {
  height: 38px;
}

// public/homes/top
.top-blue-title {
  background-color: #3A8CD8
}

// public/session/new

.light-blue-container {
  background-color: #DEEFFF;
}

.login-button {
  border: 2px solid #3A8CD8;
  color: #3A8CD8;
}

// // public/reviews/individual

.review-comment-input {
  width: 400px;
}

// public/schools/show

.blue-container {
  background-color: #3A8CD8;
}

// footer

footer .container-fluid {
  background-color: #3A8CD8;
  padding: 20px;
}