@use '~bootstrap/scss/bootstrap';
  @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kiwi Maru', serif;
}

// header

header {
  width: 100%;
  border-bottom: 5px solid #3A8CD8;
}

header .container {
  padding: 20px;
}

.registration-btn {
  background-color: #FF914D;
}

.alert-wrapper {
  position: relative;
}

.alert-mark {
  position: absolute;
  right: 12px;
  top: 2px;
}

.select-box {
  height: 38px;
}

#language-select {
  width: 15%;
}

// ハンバーガーメニュー
.navbar-toggler {
  background-color: #3A8CD8;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,253,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .flex-for-more-md{
    display: flex;
    flex-direction: column;
  }

  .horizontal-for-more-than-md{
    display: flex;           /* Flexboxを有効にしてアイテムを水平にする */
    flex-direction: column;
    padding-left: 0;
  }

  .horizontal-for-more-than-md > .nav-item {
    display: flex;           /* アイテムを水平にする */
    flex: 1 1 auto;          /* アイテムを均等に広げる */
    margin-right: 0;
    margin-bottom: 0.25rem;
  }

  .search-box {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .navbar-collapse {
    display: block !important;
  }
}

// public/homes/top
.top-blue-title {
  background-color: #3A8CD8;
}

.prize-image-blank {
  height: 70px;
}

// public/session/new

.light-blue-container {
  background-color: #DEEFFF;
}

.login-button {
  border: 2px solid #3A8CD8;
  color: #3A8CD8;
}

// // public/reviews/individual

.review-comment-input {
  width: 400px;
}

// public/schools/show

.blue-container {
  background-color: #3A8CD8;
}

@media screen and (max-width: 992px) {
 .school-show-title{
   text-align: center;
 }

 .school-show-title-h5 {
   margin-top: 30px;
 }
}

// public/review_nice

.nice-btn-wrapper {
  position: relative;
}

.nice-btn-bg {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.nice-btn-star {
  position: absolute;
  top: 27px;
  left: 12px;
}

.jp-image {
  width: 85%;
}
// footer

footer .container-fluid {
  background-color: #3A8CD8;
  padding: 20px;
}