<div class="nice-btn-wrapper">

  <% if user_signed_in? %>
    <% if review.niced_by?(current_user) %>
      <%#= link_to review_nice_reviews_path(review.id), method: :delete, remote: true, data: {"turbolinks" => false}  do %>
      <%= link_to review_nice_reviews_path(review.id), method: :delete do %>
          <i class="fa-solid fa-star fa-2xl text-warning nice-btn-star"></i>
      <% end %>
    <% else %>
      <%#= link_to review_nice_reviews_path(review.id), method: :post, remote: true, data: {"turbolinks" => false}  do %>
      <%= link_to review_nice_reviews_path(review.id), method: :post do %>
          <i class="fa-regular fa-star fa-2xl nice-btn-star" style="color: #abd2f7;"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to review_nice_reviews_path(review.id), method: :post do %>
          <i class="fa-regular fa-star fa-2xl nice-btn-star" style="color: #abd2f7;"></i>
    <% end %>
  <% end %>

  <div class="nice-btn-bg bg-white">
  </div>

</div>