<% visiter = notification.visiter %>
<% review = notification.review %>

<ul class="list-unstyled">
    <li>
      <% unless visiter.id == current_user.id %>
        <%= visiter.name %>さんが
        <%= link_to "あなたの投稿したレビュー", review_path(notification.review_id) %>にコメントしました。
        <%= " (#{time_ago_in_words(notification.created_at)}前)" %></li>
      <% end %>
</ul>
