<div class="container all-min-height">
    <div class='row justify-content-center mx-auto'>
        <div class="notification_box mt-5">
            <h5 class="text-center"><i class="fa-solid fa-bell"></i> <span class="translatable-text">通知</span></h5>
            <% if @notifications.exists? %>
                <p class="text-right"><%= link_to "通知削除",notification_path(@notifications), method: :delete, class:"btn btn-secondary translatable-text" %></p>
            <%= render @notifications %>
            <% else %>
            <p class="translatable-text">通知はありません</p>
            <% end %>
　　　　</div>
 　　</div>
</div>
