<div class="container-fluid light-blue-container p-5">
  <div class="row">

    <div class="col-md-11 offset-md-1">
      <%= render "public/shared/error_messages", resource: current_user %>
      <h5 class="translatable-text">退会手続き</h5>
    </div>

    <div class="col-md-7 offset-md-1 bg-white p-4 mt-4 text-center my-auto">
        <p class="translatable-text">本当に退会しますか？</p>
        <p class="translatable-text">※退会後、アカウントの復元はできません。</p>
        <div>
          <%= link_to "退会する", quit_users_path, class: "btn btn-danger mr-4 translatable-text", method: :patch %>
          <%= link_to "退会しない", user_path(current_user.id), class: "btn btn-info translatable-text" %>
        </div>
    </div>

    <div class="col-md-3 offset-md-1 bg-white p-4 mt-4">
      <%= render "public/users/sidebar.html.erb", user: current_user %>
    </div>

  </div>
</div>