<div class="container">

  <div class="row">
    <h3>お気に入り一覧</h3>
  </div>

  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <tr>
          <td>No.</td>
          <td>日本語学校名</td>
        </tr>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.school.id %></td>
            <td><%= link_to favorite.school.name, school_path(favorite.school.id) %></td>
          </tr>
          <% end %>
      </table>
    </div>


    <div class="col-md-3">
      <%= render "public/users/sidebar.html.erb", user: current_user %>
    </div>

  </div>
</div>